#myBoton {
    background-color: #684caf;
    /* Green */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity: 1;
    pointer-events: auto;
}


/*Formato de la ventana*/

.modalbox {
    width: 450px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}


/*Movimientos*/

.myModal {
    margin: 0 auto;
}

.modalmask:target .movedown {
    margin: 10% auto;
}


/*Boton de cerrar*/

.cerrar {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    line-height: 25px;
    width: 24px;
    border-radius: 3px;
    right: 1px;
    text-align: center;
    text-decoration: none;
    top: 1px;
    font-weight: bold;
}

.cerrar:hover {
    background: #FAAC58;
    color: #222;
}